name: test
on: [push, pull_request]

jobs:
  push-test-image:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the catkin-test image
        run: |
          docker build . --tag ghcr.io/alessandrobiaggi/catkin-test:latest
          docker push ghcr.io/alessandrobiaggi/catkin-test:latest

  test:
    needs: push-test-image
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: melodic, DOCKER_IMAGE: "ghcr.io/alessandrobiaggi/catkin-test:latest", ROS_REPO: testing}
          - {ROS_DISTRO: melodic, DOCKER_IMAGE: "ghcr.io/alessandrobiaggi/catkin-test:latest", ROS_REPO: main}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{ matrix.env }}
